<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>College Search form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="College Search Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <title>ClgSerarch</title>
            {%  load static %}
            <link rel="stylesheet" href="{% static 'css/clganddt_search.css'%}">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    </head>
    <body> <div class="container">
        <header>
            <h1>College <i class="fa fa-bell" style="font-size:30px"></i></h1>
        </header>

    <h2>Search Alumni</h2>

<!--    <form class="box"  action="/postcollsearch/" method="get">-->
        <form action="/postcollsearch/" method="post">
    <article>

        Passout Year:  <input type="number" name="passout" min="1950" max="2016" step="1" value="2016" required/><br>
        <br>Student Name: <input type="text" name="sname" placeholder="Student Name"><br><br>
        <label for="branch"><b>Branch/Subject</b></label>
          <select id="branch" name="branch">
              <option value="BA">Bachelor of Arts </option>
              <option value="BCom">Bachelor of Commerce </option>
              <option value="BSc">Bachelor of Science </option>
              <option value="Diploma">Post Graduate Diploma Management </option>
              <option value="MSocean">Master of Science Oceanography  </option>
              <option value="PHDOcean">Doctor of Philosophy  Oceanography </option>
              <option value="BTech">Bachelor of Technology </option>
              <option value="BHMS">Bachelor of Homoeopathic Medicine and Surgery </option>
              <option value="BBA">Bachelor of Business Administration  </option>
              <option value="BFA">Bachelor of Fine Arts </option>
              <option value="PharmA">Bachelor of Pharmacy  </option>

          </select><br><br></article>
        <article>
        <h3>Other:</h3>

            {%csrf_token%}
                Email: <input type="email" name="email" placeholder="Enter email"><br><br>
                Phone No: <input type="number" name="phone" placeholder="Student ph no.">

                    <input type="hidden" value="{{uid}}" name="uid">
                <p class="search button">
        <h2><input type = "Submit"></h2>

        </p>
<!--        </form>-->

        </article></form>
        </div>

    </body>
</html>